/* Empty. Add your own CSS if you like */

.full-bar {
  height: 60px !important;
}

.bar-positive .title {
  margin: 15px 10px 0 10px;
}

.bar-positive .button {
  font-size: 22px;
  margin: 15px 0 10px 0;
  border: 0px;
}

.photo {
  width: 100%;
  padding: 80px 10px 10px 10px;
}

.artical {
  margin-top: 69px;
}

.caiege {
  color: white;
  font-size: 6px;
  line-height: 6px;
}
